.FormSection {
  padding: 1.25rem;         // equivalent to p-5
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // equivalent to shadow-md
  border: 1px solid #e5e7eb; // equivalent to border (Tailwind's default light gray)
  border-radius: 0.5rem;      // equivalent to rounded-lg
  h1{
      font-size:large;
      color:purple;
      font-weight: bolder;
  }
  p{
      font-size: 10px;
  }
  .form{
      display: flex;
      flex-direction: column;
  }
  button{
      margin-top: 2%;
      width: 100%;
      background-color: purple;
      color:white;
      border-radius:20px;
  }

}

.outputsection{
    background-color: #ffffff; // bg-white
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1); // shadow-lg
    border: 1px solid #e5e7eb; // border
    padding: 1rem; // Add padding if needed
    border-radius: 0.5rem; // 
}

.editArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem; // p-5 (20px equivalent)
    border:1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2%;
    button{
      display: flex;
      gap:1px;
      border: 0.5px solid black;
      border-radius: 5px;
      padding: 5px;

    }
    button:hover{
        background-color:purple; 
        color:white;     
    }
}