.FormSection {
  padding: 1.25rem;         // equivalent to p-5
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // equivalent to shadow-md
  border: 1px solid #e5e7eb; // equivalent to border (Tailwind's default light gray)
  border-radius: 0.5rem;      // equivalent to rounded-lg
  h1{
      font-size:large;
      color:purple;
      font-weight: bolder;
  }
  p{
      font-size: 10px;
  }
  .form{
      display: flex;
      flex-direction: column;
  }
  button{
      margin-top: 2%;
      width: 100%;
      background-color: purple;
      color:white;
      border-radius:20px;
  }

}

.outputsection{
    color: white;
}