.snav{
   display: none;
   background-color: white;

}
/* For medium screens and above */
@media (min-width: 768px) {
    .snav {
      width: 16rem; 
      display: block;
      position: fixed;
      background-color: white;
      color:black;
    }
    .main{
        margin-left: 16rem;
        background-color: white;
        color:black;
    }
  }
  
 